---
title: "Blog posts"
layout: archive
permalink: /year-archive/
show_excerpts: true
---

{% include base_path %}

<div class="blog-category-bar">
  <span class="blog-category-label">Topics:</span>
  <a href="{{ '/year-archive/' | relative_url }}" class="blog-category-link is-active">
    All
  </a>
  <a href="{{ '/category/nature/' | relative_url }}" class="blog-category-link">
    Nature
  </a>
  <a href="{{ '/category/reflection/' | relative_url }}" class="blog-category-link">
    Reflection
  </a>
</div>

<div class="kp-list">
  {% for post in site.posts %}
  <article class="kp-item">
    <a class="kp-item-image" href="{{ post.url | relative_url }}">
      {% if post.header.teaser %}
      <img src="{{ post.header.teaser | relative_url }}" alt="{{ post.title }}">
      {% endif %}
    </a>
    <div class="kp-item-body">
      <h2 class="kp-item-title">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </h2>
      <p class="kp-item-meta">
        {{ post.date | date: "%B %d, %Y" }}
      </p>
      {% if post.excerpt %}
      <p class="kp-item-excerpt">
        {{ post.excerpt | strip_newlines | truncate: 160 }}
      </p>
      {% endif %}
    </div>
  </article>
  {% endfor %}
</div>
