{% include base_path %}

<nav class="top-nav">
  <div class="top-nav-inner">
    <a class="top-nav-title" href="{{ base_path }}/">
      {{ site.title }}
    </a>
    <ul class="top-nav-menu">
      {% for link in site.data.navigation.main %}
        {% if link.url contains 'http' %}
          {% assign domain = '' %}
        {% else %}
          {% assign domain = base_path %}
        {% endif %}
        <li>
          <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
